body {
  background-color:   #D0D0D0;   /*clr for background*/
  color: #333333;
  margin-top: 5rem;
  font-weight: bold;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;

}

ul {
  margin:0;
}


.bg-steel {
  background-color: #0A0A0A ;
  
  /* #C7AAA2   clr for nav*/
}

.site-header .navbar-nav .nav-link {
  color: #E7F1F8;  /*clr for home login reg*/
  /*text-decoration:underline;*/
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;   /*clr for cursor on screen*/
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}




